/* Import Inter and Playfair fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Playfair:opsz@5..1200&display=swap');

/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* template */
    --template-width: 100%;
    --template-max-width: 144em;

    /* Colors */
    --bg-color: #F5F3EF;
    --bg-color-white: #FFFFFF;
    --section-bg-color: #FAF9F7;
    --card-bg-color: #FFFFFF;
    --default-text-color: #292929;
    --lighter-text-color: #A6A6A6;
    --dark-text-color: #000000;
    --btn-color: #00AC66;
    --btn-color-hover: #006D41;
    --btn-bg-color: #00AC66;
    --btn-text-color: #FFFFFF;
    --color-grey-light: #A6A6A6;
    --color-grey-dark: #292929;
    --color-teal: #6DC5A1;
    --color-rose: #C56D6D;
    --color-light-gray: #EDF2F6;
    --color-red: #CB2D2D;

    /* Font */
    --font-inter: Inter, sans-serif;
    --font-inter-weight: 300;
    --font-inter-weight-medium: 400;
    --font-inter-weight-bold: 600;
    --font-playfair: Playfair, serif;
    --font-playfair-weight: 400;

    /* Default font */
    font-size: 10px;
    font-family: var(--font-inter);
    font-weight: var(--font-inter-weight);
}

html {
    color: var(--default-text-color);
    background-color: var(--bg-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--body-grid-gap, 8em);
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 7.8em;
    width: var(--template-width);
    max-width: var(--template-max-width);
    padding: 1.5em 10.45%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--template-width);
    max-width: var(--template-max-width);
}

footer {
    width: var(--template-width);
    max-width: var(--template-max-width);
    margin-top: 8em;
}

section {
    width: var(--template-width);
}

nav {
    width: 100%;
}

ul {
    display: flex;
    gap: 4.2em;
    margin: 0;
    padding: 0;
    list-style: none;
}

li a {
    font-size: 1.4em;
    text-decoration: none;
    color: var(--default-text-color);
    transition: all 125ms;
}

li a:hover,
li a:focus-visible {
    text-shadow: 1px 0 0 currentColor;
}

h1 {
    margin: 0;
}

h2 {
    margin-block: 2.5em 0;
    font-size: 3.2em;
    font-family: var(--font-playfair);
    font-weight: var(--font-playfair-weight);
    text-align: center;
}

h3 {
    margin: 0;
}

p {
    font-size: 1.6em;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* 
********************************************************************************
button
********************************************************************************
*/

.btn {
    padding: 1.375em 2.375em;
    font-size: 1.6em;
    font-weight: var(--font-inter-weight-bold);
    color: var(--btn-text-color);
    background-color: var(--btn-color);
    border-radius: 0.625em;
    transition: all 250ms;
}

.btn:hover {
    color: var(--btn-text-color);
    background-color: var(--btn-color-hover);
}

.btn-invert {
    color: var(--btn-color);
    border: solid 1px var(--btn-color);
    background-color: var(--bg-color);
}

/* 
********************************************************************************
card
********************************************************************************
*/
.card {
    width: 20em;
    margin: 0;
    border-radius: 1em;
    background: var(--card-bg-color);
}

.card-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/4;
}

.card-figcaption {
    display: flex;
    flex-direction: column;
    gap: .8em;
    padding: 1.9em 1.4em;
}

.card-figcaption-title {
    font-size: 1.6em;
    font-weight: 400;
}

.card-figcaption-subtitle {
    margin: 0;
    font-size: 1.4em;
    color: var(--lighter-text-color);
}

.card-figcaption-info {
    margin-top: 2.2em;
    color: var(--lighter-text-color);
}

/* 
********************************************************************************
header
********************************************************************************
*/
.header-menu {
    flex-wrap: wrap;
    text-wrap: nowrap;
}

.header-menu li:nth-child(3) {
    margin-left: auto;
}

.header-chat {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.header-chat::before {
    align-self: end;
    content: url(/img/chat-icon.svg);
}

.header-chat-notification {
    min-width: 1.2em;
    padding: 0.3em;
    font-size: .825em;
    font-weight: var(--font-inter-weight-bold);
    text-align: center;
    text-shadow: none;
    color: var(--bg-color);
    border-radius: 50%/40%;
    background: var(--default-text-color);
}

/* 
********************************************************************************
hero
********************************************************************************
*/
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10.8em;
    margin-block: 0 12.8em;
}

.hero-content {
    display: grid;
    justify-items: start;
    max-width: 32.9em;
    margin-top: 5.2em;
}

.hero-title {
    margin: 0;
    font-size: 3.6em;
    text-align: left;
}

.hero-description {
    font-size: 1.6em;
    margin-block: 1em 2.5em;
}

.hero-figure {
    margin: 0;
}

.hero-img {
    width: 100%;
    max-width: 40.4em;
}

.hero-figcaption {
    margin-top: 1em;
    font-size: 1.2em;
    font-style: italic;
    text-align: right;
    font-weight: var(--font-inter-weight-medium);
    color: var(--lighter-text-color);
}

/* 
********************************************************************************
latest books
********************************************************************************
*/

.latest-books {
    display: grid;
    justify-content: center;
    justify-items: center;
    background: var(--section-bg-color);
    padding-bottom: 6.4em;
}

.latest-books-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.8em;
    margin-block: 8em 4.8em;
}

/* 
********************************************************************************
how it works
********************************************************************************
*/
.how-it-works {
    display: grid;
    place-items: center;
    padding-bottom: 8em;
}

.how-it-works-description {
    width: 24.8125em;
    margin-block: 1.5em;
    text-align: center;
}

.how-it-works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.6em;
    margin-block: 1.6em 4.8em;
}

.how-it-works-item {
    max-width: 15.357em;
    padding: 3.1428em 1.285em;
    border-radius: 0.714em;
    background: white;
    font-size: 1.4em;
    text-align: center;
}

/* 
********************************************************************************
strech
********************************************************************************
*/
.strech {
    width: var(--template-width);
}

.strech-img {
    width: 100%;
    height: 23em;
    object-fit: cover;
    object-position: 0 40%;
}

/* 
********************************************************************************
our values
********************************************************************************
*/
.our-values {
    display: grid;
    justify-content: center;
    justify-items: start;
    grid-auto-columns: 39.2em;
}

.our-values-title {
    margin-bottom: 0.9em;
}

.our-values-description {
    margin-block: 0 1em;
}

.our-values-footer {
    width: 100%;
    position: relative;
    padding-top: 1.3em;
}

.our-values-footer-content {
    font-size: 1.2em;
    font-style: italic;
    font-weight: var(--font-inter-weight-medium);
    color: var(--lighter-text-color);
}

.our-values-footer-img {
    position: absolute;
    right: -6em;
    top: 0;
}

/* 
********************************************************************************
footer
********************************************************************************
*/
.footer {
    background: var(--section-bg-color);
    height: 6.1em;
    display: grid;
    place-items: center end;
    padding-right: 2.64em;
}

.footer-menu {
    justify-content: end;
}

/*
********************************************************************************
pages
********************************************************************************
*/

.books,
.book,
.signin,
.signup,
.account,
.profile {
    --body-grid-gap: 0;

    main {
        background-color: var(--section-bg-color);
    }

    .footer {
        margin: 0;
        background-color: var(--bg-color-white);
    }
}

/*
********************************************************************************
book exchange
********************************************************************************
*/

.book-exchange {
    display: grid;
    justify-content: center;
    justify-items: center;
    background: var(--section-bg-color);
    padding-block: 13rem 6.4em;
    max-width: min(92rem, 100%);
}

.book-exchange-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    width: 100%;
}

.book-exchange-title {
    margin-block: 0;
    font-size: 3.6rem;
}

.book-exchange-search {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 32.2rem;
    padding: 1.6rem 1.2rem;
    font-size: 1.4em;
    background: var(--bg-color-white);
    border: solid 1px #f0f0f0;
    border-radius: .6rem;
}

.book-exchange-search::before {
    align-self: end;
    content: url(/img/magnifying-glass.svg);
}

.book-exchange-input {
    all: unset;
    width: 100%;
    font-size: 1.4rem;
}

.book-exchange-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 3.8em;
    margin-block: 8rem 4.8em;

    .card {
        width: unset;
    }
}

/*
********************************************************************************
book
********************************************************************************
*/

.book-breadcrum {
    display: flex;
    gap: .25rem;
    width: var(--template-width);
    max-width: var(--template-max-width);
    padding: 1.5em 10.45%;
    font-size: 1rem;
    color: var(--lighter-text-color);
}

.book-section-figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;

    figcaption {
        display: flex;
        flex-direction: column;
        padding-block: 5.9rem 8rem;
        padding-inline: 8.5rem 15rem;
    }

    img {
        width: 100%;
    }

    h2 {
        margin: 0;
        font-size: 3.6rem;
        text-align: unset;
    }

    h3 {
        margin-top: 3.25rem;
        font-size: 0.8rem;
        color: var(--color-grey-dark);
        letter-spacing: 8%;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        margin-block: 1.6rem 0;
        font-size: 1.4rem;
    }

    h2+span {
        font-size: 1.6rem;
        color: var(--lighter-text-color);
        margin-top: 1.6rem;
    }

    hr {
        width: 2.7rem;
        margin-block: 3.25rem 0;
        margin-inline: 0;
        border: 1px solid var(--color-grey-light);
    }

    a {
        text-align: center;
        margin-top: 8rem;
    }

    div {
        background: var(--bg-color-white);
        display: flex;
        align-items: center;
        gap: 1.55rem;
        padding: .6rem;
        border-radius: 3rem;
        width: fit-content;
        margin-top: 1.6rem;

        img {
            width: 4.8rem;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }

        span {
            font-size: 1.4rem;
            color: var(--color-grey-dark);
            font-weight: 400;
            margin-right: 1.7rem;
        }
    }
}

/*
********************************************************************************
Sign in / Sign up
********************************************************************************
*/

.signin-section,
.signup-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;

    h2 {
        margin: 0;
        font-size: 3.6rem;
        text-align: unset;
    }

    img {
        width: 100%;
        max-height: 81rem;
        min-height: 100%;
        object-fit: cover;
        object-position: 0 86%;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        padding-inline: 15rem 23.7rem;
        padding-top: 13rem;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--color-grey-light);
    }

    input {
        padding: 1.6rem 1.2rem;
        font-size: 1.4em;
        background: var(--bg-color-white);
        border: solid 1px #f0f0f0;
        border-radius: .6rem;
    }

    span {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--color-grey-dark);
    }

    a {
        color: var(--color-grey-dark);
        text-decoration: underline;
    }

    .btn {
        border: none;
    }
}

/*
********************************************************************************
Account
********************************************************************************
*/

.account-admin {
    max-width: 114rem;

    .account-title {
        margin-block: 9rem 4.8rem;
        font-size: 2.6rem;
        text-align: start;
    }

    .account-info {
        display: flex;
        flex-wrap: wrap;
        gap: 3.3rem;
    }

    .account-profile,
    .account-form {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        padding: 3.6rem 11.7rem;
        background-color: var(--bg-color-white);
        border-radius: 2rem;
    }

    .account-profile {
        align-items: center;
    }

    .account-form {
        gap: 3.2rem;
        align-items: start;

        h3 {
            font-size: 1.6rem;
            font-weight: 400;
        }

        label {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: var(--color-grey-light);
        }

        input {
            padding: 1.6rem 1.2rem;
            font-size: 1.4em;
            background: var(--color-light-gray);
            border: solid 1px #f0f0f0;
            border-radius: .6rem;
        }
    }

    .account-image-container {
        width: 13.5rem;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 50%;
    }

    .account-img {
        width: 100%;
        transform: scale(1.3);
    }

    .avatar-form {
        margin-top: 0.5rem;
    }

    .avatar-label {
        font-size: 1.4rem;
        color: var(--lighter-text-color);
        text-decoration: underline;
        cursor: pointer;
    }

    .avatar-input {
        display: none;
    }

    .account-info-separator {
        width: 24.2rem;
        margin-block: 4.8rem;
        border: 1px solid var(--bg-color);
    }

    .account-info-title {
        font-size: 2.4rem;
        font-family: var(--font-playfair);
        font-weight: var(--font-playfair-weight);
        color: var(--color-grey-dark)
    }

    .account-info-date {
        margin-block: 1.1rem 2.1rem;
        font-size: 1.4rem;
        color: var(--color-grey-light);
    }

    .account-info-library {
        margin: 0;
        font-weight: 600;
        letter-spacing: 8%;
        text-transform: uppercase;
        font-size: .8rem;
    }

    .account-info-books {
        display: flex;
        gap: .556rem;
        margin-block: .6rem;
        font-size: 1.4rem;

        &::before {
            content: url(/img/books.svg)
        }
    }
}

.account-books {
    margin-block: 3.2rem 10.4rem;
    border-radius: 2rem;
    overflow: hidden;
    max-width: 114rem;

    &>div:not(:last-child) {
        border-bottom: solid 1px var(--bg-color);
    }

    .account-books-header {
        background: var(--bg-color-white);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-transform: uppercase;
        letter-spacing: 8%;
        font-weight: bold;
        padding-block: 3.424rem .829rem;
        padding-inline: 6.6rem;
    }

    .account-book {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        font-size: 1.2rem;
        background: var(--bg-color-white);
        height: 13rem;
        padding-inline: 6.6rem;

        img {
            width: 7.8rem;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: 0 bottom;
        }

        span:nth-child(4) {
            display: -webkit-box;
            max-width: 12.8rem;
            overflow: hidden;
            font-style: italic;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }

        &:nth-child(odd) {
            background: var(--color-light-gray);
        }

        .account-book-available,
        .account-book-unavailable {
            background-color: var(--color-teal);
            color: white;
            width: fit-content;
            padding: .37rem 1.3rem;
            border-radius: 15%/50%;
            font-weight: 500;
        }

        .account-book-unavailable {
            background: var(--color-rose);

        }

        .account-book-action {
            display: flex;
            gap: 2.8rem;
        }

        .account-book-edit,
        .account-book-delete {
            text-transform: capitalize;
            text-decoration: underline;
        }

        .account-book-edit {
            color: var(--color-grey-dark);
        }

        .account-book-delete {
            color: var(--color-red);
        }
    }
}

/*
********************************************************************************
Profile
********************************************************************************
*/

.profile-container {
    display: flex;
    gap: 2.8rem;
    margin-block: 10.3rem 21.4rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 15rem;

    .profile-info {
        display: flex;
        flex-basis: 34.1rem;
        flex-direction: column;
        align-items: center;
        padding: 3.6rem 5rem;
        background-color: var(--bg-color-white);
        border-radius: 2rem;
    }

    .profile-image-container {
        width: 13.5rem;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 50%;
    }

    .profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transform: scale(1.3);
    }

    .avatar-label {
        font-size: 1.4rem;
        color: var(--lighter-text-color);
        text-decoration: underline;
        cursor: pointer;
    }

    .profile-info-separator {
        width: 24.2rem;
        margin-block: 4.8rem;
        border: 1px solid var(--bg-color);
        margin-inline: 0;
    }

    .profile-info-title {
        font-size: 2.4rem;
        font-family: var(--font-playfair);
        font-weight: var(--font-playfair-weight);
        color: var(--color-grey-dark)
    }

    .profile-info-date {
        margin-block: 1.1rem 2.1rem;
        font-size: 1.4rem;
        color: var(--color-grey-light);
    }

    .profile-info-library {
        margin: 0;
        font-weight: 600;
        letter-spacing: 8%;
        text-transform: uppercase;
        font-size: .8rem;
    }

    .profile-info-books {
        display: flex;
        gap: .556rem;
        margin-block: .6rem;
        font-size: 1.4rem;

        &::before {
            content: url(/img/books.svg)
        }
    }

    .profile-chat-btn {
        margin-top: 4.5rem;

        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.profile-books {
    flex-basis: 50%;
    flex-grow: 1;
    height: max-content;
    border-radius: 2rem;
    overflow: hidden;

    &>div:not(:last-child) {
        border-bottom: solid 1px var(--bg-color);
    }

    .profile-books-header {
        background: var(--bg-color-white);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-transform: uppercase;
        letter-spacing: 8%;
        font-weight: bold;
        padding-block: 3.424rem .829rem;
        padding-inline: 6.6rem;
    }

    .profile-book {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        font-size: 1.2rem;
        background: var(--bg-color-white);
        height: 13rem;
        padding-inline: 6.6rem;

        img {
            width: 7.8rem;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: 0 bottom;
        }

        span:nth-child(4) {
            display: -webkit-box;
            max-width: 12.8rem;
            overflow: hidden;
            font-style: italic;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }

        &:nth-child(odd) {
            background: var(--color-light-gray);
        }

        .profile-book-available,
        .profile-book-unavailable {
            background-color: var(--color-teal);
            color: white;
            width: fit-content;
            padding: .37rem 1.3rem;
            border-radius: 15%/50%;
            font-weight: 500;
        }

        .profile-book-unavailable {
            background: var(--color-rose);

        }

        .profile-book-action {
            display: flex;
            gap: 2.8rem;
        }

        .profile-book-edit,
        .profile-book-delete {
            text-transform: capitalize;
            text-decoration: underline;
        }

        .profile-book-edit {
            color: var(--color-grey-dark);
        }

        .profile-book-delete {
            color: var(--color-red);
        }
    }
}