/* Import Inter and Playfair fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Playfair:opsz@5..1200&display=swap');

/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Template */
    --template-width: 100%;
    --template-max-width: 144rem;
    --container-max-width: 114rem;

    /* Colors */
    --color-white: #FFFFFF;
    --color-lightest-gray: #F5F3EF;
    --color-lighter-gray: #FAF9F7;
    --color-light-gray: #F0F0F0;
    --color-dark-gray: #A6A6A6;
    --color-darkest-gray: #292929;
    --color-green-light: #00AC66;
    --color-green-dark: #006D41;
    --color-teal: #6DC5A1;
    --color-black: #000000;
    --color-light-blue: #EDF2F6;
    --color-light-red: #C56D6D;
    --color-red: #CB2D2D;

    /* Font */
    --font-inter: Inter, sans-serif;
    --font-inter-weight: 300;
    --font-inter-weight-medium: 400;
    --font-inter-weight-bold: 600;
    --font-playfair: Playfair, serif;
    --font-playfair-weight: 400;

    /* Default font */
    font-size: 10px;
    font-family: var(--font-inter);
    font-weight: var(--font-inter-weight);

    scrollbar-color: var(--color-green-dark) transparent;
}

html {
    color: var(--color-darkest-gray);
    background-color: var(--color-lightest-gray);
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
}

main,
footer {
    width: var(--template-width);
    max-width: var(--template-max-width);
}

header {
    width: var(--template-width);
    max-width: var(--container-max-width);
    background-color: var(--color-lightest-gray);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--color-lighter-gray);
}

footer {
    background-color: var(--color-white);
}

section {
    width: var(--template-width);
}

ul {
    display: flex;
    align-items: center;
    gap: 4.2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

li a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-darkest-gray);
    transition: all 125ms;
}

li a:hover,
li a:focus-visible {
    text-shadow: 1px 0 0 currentColor;
}

h1,
h2,
h3 {
    margin: 0;
}

h2 {
    font-size: 3.2rem;
    font-family: var(--font-playfair);
    font-weight: var(--font-playfair-weight);
    text-align: center;
}

p {
    font-size: 1.6rem;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* 
********************************************************************************
error
********************************************************************************
*/
.error-container {
    display: flex;
    flex-grow: 1;
    width: var(--template-width);
    max-width: var(--container-max-width);
    padding: 1.5em 2rem 0;
}

.error-section {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.errors {
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    color: var(--color-red);
    font-size: 1.2rem;
}

/* 
********************************************************************************
button
********************************************************************************
*/
.btn {
    width: fit-content;
    padding: 2.2rem 3.8rem;
    font-size: 1.6rem;
    font-weight: var(--font-inter-weight-bold);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-green-light);
    border-radius: 1rem;
    border: none;
    transition: all 250ms;
}

.btn:hover {
    color: var(--color-white);
    background-color: var(--color-green-dark);
}

.btn-invert {
    color: var(--color-green-light);
    border: solid 1px var(--color-green-light);
    background-color: var(--color-lightest-gray);
}

.btn-invert:hover {
    border: solid 1px var(--color-green-dark);
}

/* 
********************************************************************************
card
********************************************************************************
*/
.card-container {
    --card-container-columns: 4;
    --card-container-gap: 3.8rem;
    --card-container-mb: 8rem 4.8rem;
    --card-figcaption-gap: .8rem;
    --card-figcaption-padding: 1.9rem 1.4rem;
    --card-figcaption-title-font-size: 1.6rem;
    --card-figcaption-subtile-font-size: 1.4rem;
    --card-figcaption-info-font-size: 1rem;
    --card-figcaption-info-mt: 2.2rem;

    display: grid;
    grid-template-columns: repeat(var(--card-container-columns),
            minmax(13rem, 20rem));
    gap: var(--card-container-gap);
    margin-block: var(--card-container-mb);
}

.card {
    position: relative;
    margin: 0;
    border-radius: 1rem;
    background: var(--color-white);
}

.card-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/4;
}

.card-figcaption {
    display: flex;
    flex-direction: column;
    gap: var(--card-figcaption-gap);
    padding: var(--card-figcaption-padding);
}

.card-figcaption-title {
    color: var(--color-black);
    font-size: var(--card-figcaption-title-font-size);
    font-weight: 400;
}

.card-figcaption-subtitle {
    margin: 0;
    font-size: var(--card-figcaption-subtile-font-size);
    color: var(--color-dark-gray);
}

.card-figcaption-unavailable {
    position: absolute;
    width: fit-content;
    top: 1.6rem;
    right: 1.1rem;
    padding: .37rem 1.3rem;
    color: white;
    font-weight: 500;
    background: var(--color-light-red);
    border-radius: 15%/50%;
}

.card-figcaption-info {
    margin-top: var(--card-figcaption-info-mt);
    font-size: var(--card-figcaption-info-font-size);
    color: var(--color-dark-gray);
}

/*
********************************************************************************
table
********************************************************************************
*/
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2rem;
    overflow: hidden;

    th {
        padding-bottom: .829rem;
    }

    th:first-child,
    td:first-child {
        padding-left: 6.6rem;
    }
}

.table-header,
.table-row:not(:last-child) {
    border-bottom: 0.1rem solid var(--color-lightest-gray);
}

.table-header {
    height: 5.3rem;
    vertical-align: bottom;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 8%;
    background: var(--color-white);
}

.table-row {
    font-size: 1.2rem;
    background: var(--color-white);
    height: 13rem;
    padding-inline: 6.6rem;

    &:nth-child(odd) {
        background: var(--color-light-blue);
    }
}

.table-row-img {
    width: 7.8rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 0 bottom;
}

.table-raw-action-container {
    display: flex;
    gap: 2.8rem;
}

.table-row-description-container {
    display: -webkit-box;
    max-width: 12.8rem;
    overflow: hidden;
    font-style: italic;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.table-row-available,
.table-row-unavailable {
    background-color: var(--color-teal);
    color: white;
    width: fit-content;
    padding: .37rem 1.3rem;
    border-radius: 15%/50%;
    font-weight: 500;
}

.table-row-unavailable {
    background: var(--color-light-red);

}

.table-edit,
.table-delete {
    text-transform: capitalize;
    text-decoration: underline;
}

.table-edit {
    color: var(--color-darkest-gray);
}

.table-delete {
    color: var(--color-red);
}

/* 
********************************************************************************
header
********************************************************************************
*/

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem 7.8rem;
    margin: 1.5em 2rem;

    a {
        img {
            width: 15.5rem;
        }
    }

}

.header-nav {
    all: unset;
    flex: 1 1 64rem;
}

.header-nav-button {
    display: none;
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
}

.header-menu {
    flex-wrap: wrap;
    text-wrap: nowrap;
}

.header-menu li:nth-child(3) {
    margin-left: auto;
}

.header-chat {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.header-chat::before {
    align-self: end;
    content: url(/img/chat-icon.svg);
}

.header-chat-notification {
    min-width: 1.05rem;
    min-height: 1.5rem;
    padding: 0.3rem;
    font-size: .825rem;
    font-weight: var(--font-inter-weight-bold);
    text-shadow: none;
    line-height: 1;
    color: var(--color-lightest-gray);
    border-radius: .765rem;
    background: var(--color-darkest-gray);
}

.header-account {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.header-account::before {
    align-self: end;
    content: url(/img/account.svg);
}

/*
********************************************************************************

********************************************************************************
*/
.hero,
.how-it-works,
.our-values,
.chat-container {
    background-color: var(--color-lightest-gray);
}

/* 
********************************************************************************
hero
********************************************************************************
*/

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--hero-container-gap, 10.5rem);
    margin-block: var(--hero-container-mb, 8rem 12.8rem);
    margin-inline: 2rem;
}

.hero-content {
    max-width: 32.9rem;
    margin-top: 5.2rem;
}

.hero-title {
    margin: 0;
    font-size: 3.6rem;
    text-align: left;
}

.hero-description {
    font-size: 1.6rem;
    margin-block: 1.6rem 4rem;
}

.hero-figure {
    margin: 0;
}

.hero-img {
    width: 100%;
    max-width: 40.4rem;
}

.hero-figcaption {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    font-style: italic;
    text-align: right;
    font-weight: var(--font-inter-weight-medium);
    color: var(--color-dark-gray);
}

/* 
********************************************************************************
latest books
********************************************************************************
*/

.latest-books {
    background: var(--color-lighter-gray);
}

.latest-books-container {
    --latest-books-container-mb: 8rem 6.4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 2rem;
    margin-block: var(--latest-books-container-mb);
}

/* 
********************************************************************************
how it works
********************************************************************************
*/
.how-it-works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 2rem;
    margin-block: 8rem;
}

.how-it-works-description {
    max-width: 39.7rem;
    margin-block: 2.4rem;
    text-align: center;
}

.how-it-works-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(16rem, 21.5rem));
    justify-content: center;
    gap: 3.6rem;
    margin-block: 1.6rem 4.8rem;
}

.how-it-works-item {
    display: flex;
    align-items: center;
    max-width: 21.5rem;
    padding: 4.4rem 1.8rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 1rem;
    background: white;
}

/* 
********************************************************************************
strech
********************************************************************************
*/
.strech {
    width: var(--template-width);
}

.strech-img {
    width: 100%;
    max-height: 23rem;
    object-fit: cover;
    object-position: 0 40%;
}

/* 
********************************************************************************
our values
********************************************************************************
*/
.our-values-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    max-width: 39.2rem;
    margin: 8rem auto 16rem auto;
}

.our-values-title {
    margin-bottom: 2.9rem;
}

.our-values-description {
    margin-block: 0 1.6rem;
}

.our-values-footer {
    width: 100%;
    position: relative;
    margin-top: 2.3rem;
}

.our-values-footer-content {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: var(--font-inter-weight-medium);
    color: var(--color-dark-gray);
}

.our-values-footer-img {
    position: absolute;
    right: -6rem;
    top: 1rem;
}

/* 
********************************************************************************
footer
********************************************************************************
*/
.footer-menu {
    justify-content: end;
    align-items: center;
    margin: 2.3rem 2.64rem;

    a {
        font-size: 1.2rem;
    }
}

/*
********************************************************************************
book exchange
********************************************************************************
*/

.book-exchange {
    display: flex;
    justify-content: center;
    background: var(--color-lighter-gray);
}

.book-exchange-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 13rem 6.4em;
    margin-inline: 2rem;
}

.book-exchange-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 2.8rem;
    width: 100%;
    max-width: min(92rem, 100%);
}

.book-exchange-title {
    margin-block: 0;
    font-size: 3.6rem;
}

.book-exchange-search {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 32.2rem;
    padding: 1.6rem 1.2rem;
    font-size: 1.4rem;
    background: var(--color-white);
    border: solid 1px #f0f0f0;
    border-radius: .6rem;
}

.book-exchange-search::before {
    align-self: end;
    content: url(/img/magnifying-glass.svg);
}

.book-exchange-input {
    all: unset;
    width: 100%;
    align-self: baseline;
    font-size: 1.4rem;
}

/*
********************************************************************************
book
********************************************************************************
*/

.book-breadcrum {
    display: flex;
    gap: .25rem;
    width: var(--template-width);
    max-width: var(--container-max-width);
    padding: 1.5rem 2rem;
    font-size: 1rem;
    color: var(--color-dark-gray);
}

.book-section-figure {
    display: flex;
    margin: 0;

    figcaption {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        min-width: 50rem;
        padding-block: 5.9rem 8rem;
        padding-inline: 8.5rem 15rem;
    }

    img {
        width: 100%;
        height: 86.3rem;
        object-fit: cover;
        flex: 1 1 50%;
    }

    h2 {
        margin: 0;
        font-size: 3.6rem;
        text-align: unset;
    }

    h3 {
        margin-top: 3.25rem;
        font-size: 0.8rem;
        color: var(--color-darkest-gray);
        letter-spacing: 8%;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        margin-block: 1.6rem 0;
        font-size: 1.4rem;
    }

    h2+span {
        font-size: 1.6rem;
        color: var(--color-dark-gray);
        margin-top: 1.6rem;
    }

    hr {
        width: 2.7rem;
        margin-block: 3.25rem 0;
        margin-inline: 0;
        border: 1px solid var(--color-dark-gray);
    }
}

.book-send-message {
    width: 100%;
    margin-top: 8rem;
    text-align: center;
}

.book-owner {
    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1.55rem;
    padding: .6rem;
    margin-top: 1.6rem;
    border-radius: 3rem;
    background: var(--color-white);

    &:hover {
        span {
            color: var(--color-green-light);
        }

        div::after {
            display: initial;
        }

    }

    div {
        position: relative;

        &::after {
            display: none;
            position: absolute;
            width: 4.8rem;
            height: 4.8rem;
            left: 0;
            content: "";
            opacity: .4;
            border-radius: 50%;
            background-color: var(--color-green-light);
        }
    }

    img {
        position: relative;
        width: 4.8rem;
        height: 4.8rem;
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    span {
        font-size: 1.4rem;
        color: var(--color-darkest-gray);
        font-weight: 400;
        margin-right: 1.7rem;
    }
}

/*
********************************************************************************
Sign in / Sign up
********************************************************************************
*/

.signin-section,
.signup-section {
    display: flex;
    margin: 0;

    h2 {
        margin: 0;
        font-size: 3.6rem;
        text-align: unset;
    }

    img {
        width: 100%;
        max-height: 78rem;
        min-height: 100%;
        object-fit: cover;
        object-position: 0 86%;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        margin: 7.8rem 2rem 10rem 2rem;
        width: 32.2rem;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--color-dark-gray);
    }

    input {
        padding: 1.6rem 1.2rem;
        font-size: 1.4rem;
        background: var(--color-white);
        border: solid 1px #f0f0f0;
        border-radius: .6rem;
    }

    span {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--color-darkest-gray);
    }

    a {
        color: var(--color-darkest-gray);
        text-decoration: underline;
    }

    .signup-section-column,
    .signin-section-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
    }
}

/*
********************************************************************************
Account
********************************************************************************
*/

.account-container {
    width: var(--template-width);
    max-width: var(--container-max-width);
}

.account-admin,
.account-books {
    width: auto;
    margin-inline: 2rem;
}

.account-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-block: 3.2rem 10.4rem;
    margin-inline: 2rem;
}

.account-add-book {
    align-self: flex-end;
    color: var(--color-darkest-gray);
    text-decoration: underline;
}

.account-title {
    margin-block: 9rem 4.8rem;
    font-size: 2.6rem;
    text-align: start;
}

.account-info {
    display: flex;
    gap: 3.3rem;
}

.account-profile,
.account-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    padding: 3.6rem 3.2rem;
    background-color: var(--color-white);
    border-radius: 2rem;
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: start;
    width: 100%;
    max-width: 32.2rem;
    min-width: 26.9rem;

    h3 {
        font-size: 1.6rem;
        font-weight: 400;
    }

    label {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--color-dark-gray);
    }

    input {
        padding: 1.6rem 1.2rem;
        font-size: 1.4rem;
        background: var(--color-light-blue);
        border: solid 1px #f0f0f0;
        border-radius: .6rem;
    }
}

.account-image-container {}

.account-img {
    width: 100%;
    max-width: 13.5rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.avatar-form {
    margin-top: 0.5rem;
}

.avatar-label {
    font-size: 1.4rem;
    color: var(--color-dark-gray);
    text-decoration: underline;
    cursor: pointer;
}

.avatar-input {
    display: none;
}

.account-info-separator {
    width: 24.2rem;
    margin-block: 4.8rem;
    border: 1px solid var(--color-lightest-gray);
}

.account-info-title {
    font-size: 2.4rem;
    font-family: var(--font-playfair);
    font-weight: var(--font-playfair-weight);
    color: var(--color-darkest-gray)
}

.account-info-date {
    margin-block: 1.1rem 2.1rem;
    font-size: 1.4rem;
    color: var(--color-dark-gray);
}

.account-info-library {
    margin: 0;
    font-weight: 600;
    letter-spacing: 8%;
    text-transform: uppercase;
    font-size: .8rem;
}

.account-info-books {
    display: flex;
    gap: .556rem;
    margin-block: .6rem;
    font-size: 1.4rem;

    &::before {
        content: url(/img/books.svg)
    }
}

/*
********************************************************************************
Profile
********************************************************************************
*/

.profile-container {
    display: flex;
    gap: 3.3rem 2.8rem;
    margin-block: 10.3rem 4.3rem;
    margin-inline: 2rem;
    justify-content: center;

    .profile-info {
        display: flex;
        flex: 0 1 34.1rem;
        flex-direction: column;
        align-items: center;
        padding: 3.6rem 5rem;
        background-color: var(--color-white);
        border-radius: 2rem;
    }

    .profile-image-container {
        width: 13.5rem;
        aspect-ratio: 1;
        overflow: hidden;
        border-radius: 50%;
    }

    .profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transform: scale(1.3);
    }

    .avatar-label {
        font-size: 1.4rem;
        color: var(--color-dark-gray);
        text-decoration: underline;
        cursor: pointer;
    }

    .profile-info-separator {
        width: 24.2rem;
        margin-block: 4.8rem;
        border: 1px solid var(--color-lightest-gray);
        margin-inline: 0;
    }

    .profile-info-title {
        font-size: 2.4rem;
        font-family: var(--font-playfair);
        font-weight: var(--font-playfair-weight);
        color: var(--color-darkest-gray)
    }

    .profile-info-date {
        margin-block: 1.1rem 2.1rem;
        font-size: 1.4rem;
        color: var(--color-dark-gray);
    }

    .profile-info-library {
        margin: 0;
        font-weight: 600;
        letter-spacing: 8%;
        text-transform: uppercase;
        font-size: .8rem;
    }

    .profile-info-books {
        display: flex;
        gap: .556rem;
        margin-block: .6rem;
        font-size: 1.4rem;

        &::before {
            content: url(/img/books.svg)
        }
    }

    .profile-chat-btn {
        margin-top: 4.5rem;

        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.profile-books {
    flex: 0 1 77.1rem;
    height: max-content;
}

.edit-book-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: var(--template-width);
    max-width: var(--container-max-width);
    padding: 3rem 2rem 9.2rem;
    font-size: 1rem;
    color: var(--color-dark-gray);

    h2 {
        font-size: 2.6rem;
        color: var(--color-black);
        text-align: unset;
        margin-block: 2.3rem;
    }

    img {
        width: 100%;
        min-width: 31rem;
        max-width: 48.8rem;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: bottom;
        margin-block: 1rem 2.3rem;
    }
}

.edit-book-back-link {
    display: flex;
    width: max-content;
    gap: .4rem;
    font-size: 1.4rem;
    color: var(--color-dark-gray);
    line-height: 1;

    &::before {
        content: url(/img/back-arrow.svg)
    }
}

.edit-book {
    display: flex;
    justify-content: center;
    gap: 11.8rem;
    border-radius: 2rem;
    background-color: var(--color-white);
    padding-block: 5.6rem;
    padding-inline: 5rem;
}

.edit-book-image-container {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;

}

.edit-book-image-form {
    text-align: end;
    font-size: 1.2rem;
}

.edit-book-image-label {
    font-size: 1.4rem;
    color: var(--color-darkest-gray);
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
}

.edit-book-image-input {
    display: none;
}


.edit-book-form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    flex: 1 1 0;
    width: 100%;
    max-width: 43.5rem;

    label {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--color-dark-gray);
    }

    input,
    textarea,
    select {
        padding: 1.6rem 1.2rem;
        font-size: 1.4rem;
        background: var(--color-light-blue);
        border: solid 1px #f0f0f0;
        border-radius: .6rem;
    }

    button {
        width: 32.2rem;
    }
}

/*
********************************************************************************
Chat
********************************************************************************
*/
main:has(.chat-container) {
    background-color: var(--color-lightest-gray);
}

.chat-container {
    display: flex;
    width: 100%;
    max-width: var(--container-max-width);
    padding: 1.5em 2rem 0;
    flex-grow: 1;
}

.chat-user-list {
    width: 30.8rem;
    align-self: stretch;
    background-color: var(--color-lighter-gray);

    h2 {
        margin-block: 5.5rem 2.7rem;
        margin-inline: 3.4rem 4.2rem;
        text-align: left;
    }

    ul {
        display: block;
    }

    li {
        padding-inline: 3.4rem 4.2rem;
        padding-block: 2.1rem;
    }

    img {
        width: 4.8rem;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
    }
}

.chat-active {
    background-color: var(--color-white);
}

.chat-user {
    display: flex;
    gap: 1.2rem;
}

.chat-details {
    flex: 1;
}

.chat-details-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 400;
}

.chat-time {
    font-size: 1.2rem;
}

.chat-excerpt {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 1.2rem;
    color: var(--color-dark-gray);
}

.chat-window {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.5rem;
    padding: 3.5rem 0 3.5rem 4.4rem;

    img {
        width: 4.8rem;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
    }
}

.chat-back-link {
    display: none;
}

.chat-header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2.9rem;
    height: 100%;
}

.chat-info {
    margin: auto;
}

.message-received,
.message-sent {
    max-width: 50rem;

    p {
        padding: 1rem 1.8rem;
        color: var(--color-darkest-gray);
        font-size: 1.2rem;
        font-weight: 400;
        border-radius: .3rem;
        max-width: max-content;
    }
}

.message-received {
    img {
        width: 2.4rem;
        object-fit: cover;
        height: 2.4rem;
    }

    p {
        background-color: var(--color-white);
    }
}

.message-received-header {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.message-time {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-dark-gray);
}

.message-sent {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: end;

    p {
        background-color: var(--color-light-blue);
    }
}

.chat-input {
    display: flex;
    flex-wrap: wrap;
    gap: 2.1rem;
    margin-block: 9.8rem;

    input {
        min-width: 33.5rem;
        flex: 1 1 auto;
        padding: 1.6rem 1.2rem;
        font-size: 1.4rem;
        background: var(--color-white);
        border: solid 1px #f0f0f0;
        border-radius: .6rem;
    }

    button {
        border: none;
    }
}

@media (max-width: 768px) {
    header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    h2 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1.4rem;
    }

    .btn {
        width: 100%;
    }

    /*
    ****************************************************************************
    card
    ****************************************************************************
    */

    .card-container {
        --card-container-columns: 2;
        --card-container-gap: 1.5rem;
        --card-container-mb: 3.4rem 0;
        --card-figcaption-gap: .56rem;
        --card-figcaption-padding: 1.6rem 1.2rem 1.8rem;
        --card-figcaption-title-font-size: 1.3rem;
        --card-figcaption-subtile-font-size: 1.2rem;
        --card-figcaption-info-font-size: .8rem;
        --card-figcaption-info-mt: 1.8rem;
    }

    /*
    ****************************************************************************
    header
    ****************************************************************************
    */
    .header-container {
        flex-wrap: nowrap;
        gap: 1rem;
        margin-inline: 2rem;

        a {
            img {
                width: 10rem;
            }
        }
    }

    .header-nav-button {
        display: block;
    }

    .header-nav {
        display: revert;
        position: fixed;
        width: 100%;
        height: 100dvh;
        left: 0;
        top: 6rem;
        background-color: var(--color-lightest-gray);
    }

    .header-menu {
        flex-direction: column;
        align-items: center;
    }

    .header-menu li:nth-child(3) {
        margin-left: unset;
    }

    /*
    ****************************************************************************
    hero
    ****************************************************************************
    */
    .hero-container {
        --hero-container-gap: 3.2rem;
        --hero-container-mb: 0 4.8rem;
        flex-direction: column-reverse;
        margin-inline: unset;
    }

    .hero-content {
        max-width: 41.5rem;
        margin-top: unset;
        margin-inline: 2rem;

        .btn {
            width: 100%;
        }
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-figcaption {
        margin-inline: 2.6rem;
    }

    .hero-img {
        max-width: 41.5rem;
    }

    /*
    ****************************************************************************
    latest books
    ****************************************************************************
    */
    .latest-books {
        .btn {
            display: none;
        }
    }

    .latest-books-container {
        --latest-books-container-mb: 4.8rem 8rem;
    }

    /*
    ****************************************************************************
    how it works
    ****************************************************************************
    */
    .how-it-works {
        .btn {
            width: 100%;
        }
    }

    .how-it-works-container {
        width: 90%;
        max-width: 41.5rem;
        margin-block: 4.8rem;
        margin-inline: auto;
    }

    .how-it-works-description {
        margin-block: 1.6rem 0;
    }

    .how-it-works-list {
        grid-template-columns: 1fr;
        gap: 1.6rem;
        margin-block: 3.2rem;
    }

    .how-it-works-item {
        display: flex;
        justify-content: center;
        max-width: 41.5rem;

        br {
            display: none;
        }
    }

    /*
    ****************************************************************************
    strech
    ****************************************************************************
    */
    .strech-img {
        aspect-ratio: 3/4;
        object-position: 85%;
        max-height: 42.5rem;
    }

    /*
    ****************************************************************************
    our values
    ****************************************************************************
    */
    .our-values-container {
        margin-block: 3.2rem
    }

    .our-values-footer {
        display: flex;
        flex-direction: column;
        gap: 6.2rem;
        margin-top: 1.2rem;
    }

    .our-values-footer-content {
        font-size: 1.2rem;
        font-style: italic;
        font-weight: var(--font-inter-weight-medium);
        color: var(--color-dark-gray);
    }

    .our-values-footer-img {
        position: unset;
        align-self: center;
    }

    /*
    ****************************************************************************
    books
    ****************************************************************************
    */

    .book-exchange-container {
        gap: 1rem;
        margin-block: 5rem;
    }

    .book-exchange-header {
        flex-direction: column;
        align-items: start;
    }

    .book-exchange-title {
        font-size: 3rem;
        text-align: start;
    }

    .book-exchange-search {
        width: 100%;
    }

    /*
    ****************************************************************************
    chat
    ****************************************************************************
    */

    .chat-container {
        flex-direction: column;
        padding: 0;
    }

    .chat-user-list {
        width: 100%;

        & li {
            padding: 2.3rem 2rem;
        }

        & h2 {
            margin-block: 5.5rem 4.5rem;
            margin-inline: 2rem;
            font-size: 2.6rem;
        }
    }

    .chat-window {
        background-color: var(--color-lighter-gray);
        padding: 2.3rem 2rem;

        & .message-received,
        & .message-sent {
            max-width: 26.1rem;
        }
    }

    .chat-back-link {
        display: flex;
        width: max-content;
        gap: .4rem;
        margin-bottom: 1.1rem;
        font-size: 1.4rem;
        color: var(--color-dark-gray);
        line-height: 1;

        &::before {
            content: url(/img/back-arrow.svg)
        }
    }

    .chat-input {
        margin-block: 1.9rem;

        .btn {
            width: 100%;
        }
    }

    /*
    ****************************************************************************
    Signin/signup
    ****************************************************************************
    */

    .signin-section,
    .signup-section {
        flex-direction: column;

        h2 {
            font-size: 3rem;
        }

        form,
        .btn {
            width: 100%;
        }
    }

    /*
    ****************************************************************************
    account
    ****************************************************************************
    */
    .account-title {
        margin-block: 7.8rem 4rem;
        font-size: 3rem;
    }

    .account-profile {
        padding-block: 4.8rem 3.6rem;
    }

    .account-form-container {
        padding-block: 4rem 4.8rem;
    }

    .account-info {
        flex-direction: column;
        gap: 3.2rem;
    }

    .table {

        th:first-child,
        td:first-child {
            padding-left: 0;
        }
    }

    .table-header {
        display: none;
    }

    .table-row {
        display: grid;
        height: 100%;
        grid-template-columns: auto 1fr;
        gap: 0 1.8rem;
        margin-block: 1.6rem;
        padding: 5.2rem 5.6rem;
        font-size: 1.4rem;
        border-radius: 2rem;
    }

    .table-row:nth-child(2n+1) {
        background: var(--color-white);
    }

    .table-row-picture {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .table-row-title {
        grid-column: 2/-1;
        grid-row: 1/2;
        align-self: end;
    }

    .table-row-author {
        grid-column: 2/-1;
        grid-row: 2/3;
        align-self: baseline;
    }

    .table-row-description {
        grid-column: 1/-1;
        grid-row: 4/5;
        margin-block: 2.1rem 4.3rem;
    }

    .table-row-description-container {
        max-width: 100%;
        -webkit-line-clamp: 3;
    }

    .table-row-availibility {
        grid-column: 2/-1;
        grid-row: 3/4;
        align-self: center;
        font-size: .88rem;
    }

    .table-row-action {
        grid-column: 1/-1;
        grid-row: 5/6;
        font-size: 1.6rem;
    }

    .account-books {
        .table-row {
            grid-template-rows: repeat(5, auto);
        }
    }

    .profile-container {
        flex-direction: column;
        margin-top: 7.3rem;
    }

    .profile-books {
        .table-row {
            grid-template-rows: repeat(4, auto);
        }

        .table-row-title {
            grid-column: 2/-1;
            grid-row: 1/3;
            align-self: end;
        }

        .table-row-author {
            grid-column: 2/-1;
            grid-row: 3/4;
            align-self: baseline;
        }

        .table-row-description {
            margin-bottom: 0;
        }
    }

    /*
    ****************************************************************************
    book
    ****************************************************************************
    */
    .book-breadcrum {
        display: none;
    }

    .book-section-figure {
        flex-direction: column;

        h2 {
            font-size: 3rem;
        }

        h2+span {
            margin-top: 4rem;
        }

        img {
            height: auto;
            aspect-ratio: 5/6;
            object-position: bottom;
        }

        figcaption {
            min-width: 100%;
            padding-top: 4rem;
            padding-inline: 2rem;
        }
    }

    .book-owner {
        img {
            aspect-ratio: 1/1;
        }
    }

    .book-send-message {
        margin-top: 4rem;
    }

    /*
    ****************************************************************************
    edit book
    ****************************************************************************
    */

    .edit-book-container {
        padding-inline: 0;

        img {
            min-width: unset;
            margin-block: 0.74rem 2.4rem;
        }
    }

    .edit-book-header {
        margin-inline: 2rem;

        h2 {
            font-size: 3rem;
        }
    }

    .edit-book-image-container {
        font-size: 1.1rem;
    }

    .edit-book {
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
        padding-block: 4.2rem;
        padding-inline: 2rem;
    }

    .edit-book-form {
        max-width: unset;
    }

    /*
    ****************************************************************************
    footer
    ****************************************************************************
    */
    .footer-menu {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
}